.Eventspage {
  padding-top: 20px;
  padding-left: 80px;
  text-align: center;
}
.Reach {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  align-items: center;
  color: #fff;
  background-color: black;
}
